.DS_Store
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/public/media
/public/css
/public/js
/public/fonts
/public/images
/public/mix-manifest.json
.env
.env.dev
.env.backup
.env.prod
.env.staging
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper.php
.phpstorm.meta.php

wisata-bumnag-dev-firebase-adminsdk-jnk0z-414bb08973.json
wisata-bumnag-stag-firebase-adminsdk-uc0r9-85b964499c.json
